<div class="row mt-2">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="username">手机号：</label>
      </div>
      <div class="col-md-8">
        <div id="username">
          {{currentUser?.username}}&nbsp;
          <a class="btn btn-primary btn-sm1 mr-2" routerLink="/personal/modifyPhone">
            <i class="fas fa-edit"></i>
            修改
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="phone">姓名：</label>
      </div>
      <div class="col-md-8">
        <div id="phone">
          {{currentUser?.name}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="sex">角色：</label>
      </div>
      <div class="col-md-8">
        <div id="sex">
          <span *ngIf="currentUser?.role === 2">超级管理员</span>
          <span *ngIf="currentUser?.role === 1">管理员</span>
          <span *ngIf="currentUser?.role === 0">用户</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 offset-md-2">
    <div class="row">
      <div class="col-md-4 text-right">
        <label for="password">密码：</label>
      </div>
      <div class="col-md-8">
        <div id="password">
          <a class="btn btn-primary btn-sm1 mr-2" routerLink="/personal/modifyPassword">
            <i class="fas fa-edit"></i>
            修改
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
